body {
    background-color: lightblue;
    text-align:center;
  }

  footer{
    text-align: center;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
    text-align:center;
  }

  dt{
    text-align: left;
    font-weight: bold;
  }

  dd{
    text-align: left;
    margin-bottom: 20px;
  }